<nav class="navbar navbar-expand navbar-dark nav-fixed">
    <div class="container">
        <div class="navbar-header">
            <div class="nav navbar-nav">
                <div *ngIf="!isAdmin" (click)="toggleMenuSideBar()" class="nav-link cursor-p">
                    <i class="pi pi-bars mt-1" style="font-size: 1rem;"></i>
                </div>
                <a *ngIf="isMaestro" routerLink="/home" class="navbar-brand ml-2 my-auto" style="font-size: 1rem;">RICP Operador</a>
                <a *ngIf="isAlumno" routerLink="/home" class="navbar-brand ml-2 my-auto" style="font-size: 1rem;">RICP</a>
                <a *ngIf="isAdmin" routerLink="/dashboard" class="navbar-brand ml-2 my-auto" style="font-size: 1rem;">RICP Admin</a>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right nav-flex-icons">
            <li class="nav-item avatar my-auto">
                <a class="nav-link p-0" routerLink="/profile">
                    <img src="../../../assets/img/faces-clipart/pic-1.png" class="rounded-circle z-depth-0" alt="avatar image" height="25">
                    <span class="mx-3 hideOnPhone">{{currentUser.nombre}}</span>
                </a>
            </li>
            <li class="nav-item my-auto dropdown pointer">
                <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="pi pi-comment mt-1">
                        <span class="badge badge-info" style="font-size: .5rem">2</span>
                    </i>
                </a>
                <div class="dropdown-menu dropdown-menu-right d-mobile-chat" aria-labelledby="dropdownMenuLink" style="min-width:20rem !important;">
                    <div class="list-group">
                        <div class="d-mobile-chat-messages">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img src="../../../assets/img/faces-clipart/pic-4.png" class="rounded-circle z-depth-0 my-auto" alt="avatar image" height="50">
                                    <div class="mb-1">
                                        <h6 class="m-0" style="font-size: 1rem">Brian Ochoa</h6>
                                        <span class="text-muted" style="font-size: .8rem">Bienvenido a RICP...</span>
                                    </div>

                                    <small class="text-muted">Hace 3 días</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img src="../../../assets/img/faces-clipart/pic-4.png" class="rounded-circle z-depth-0 my-auto" alt="avatar image" height="50">
                                    <div class="mb-1">
                                        <h6 class="m-0" style="font-size: 1rem">Brian Ochoa</h6>
                                        <span class="text-muted" style="font-size: .8rem">Bienvenido a SIIE...</span>
                                    </div>

                                    <small class="text-muted">Hace 3 días</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img src="../../../assets/img/faces-clipart/pic-4.png" class="rounded-circle z-depth-0 my-auto" alt="avatar image" height="50">
                                    <div class="mb-1">
                                        <h6 class="m-0" style="font-size: 1rem">Brian Ochoa</h6>
                                        <span class="text-muted" style="font-size: .8rem">Bienvenido a SIIE...</span>
                                    </div>

                                    <small class="text-muted">Hace 3 días</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img src="../../../assets/img/faces-clipart/pic-4.png" class="rounded-circle z-depth-0 my-auto" alt="avatar image" height="50">
                                    <div class="mb-1">
                                        <h6 class="m-0" style="font-size: 1rem">Brian Ochoa</h6>
                                        <span class="text-muted" style="font-size: .8rem">Bienvenido a SIIE...</span>
                                    </div>

                                    <small class="text-muted">Hace 3 días</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img src="../../../assets/img/faces-clipart/pic-4.png" class="rounded-circle z-depth-0 my-auto" alt="avatar image" height="50">
                                    <div class="mb-1">
                                        <h6 class="m-0" style="font-size: 1rem">Brian Ochoa</h6>
                                        <span class="text-muted" style="font-size: .8rem">Bienvenido a SIIE...</span>
                                    </div>

                                    <small class="text-muted">Hace 3 días</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img src="../../../assets/img/faces-clipart/pic-4.png" class="rounded-circle z-depth-0 my-auto" alt="avatar image" height="50">
                                    <div class="mb-1">
                                        <h6 class="m-0" style="font-size: 1rem">Brian Ochoa</h6>
                                        <span class="text-muted" style="font-size: .8rem">Bienvenido a SIIE...</span>
                                    </div>

                                    <small class="text-muted">Hace 3 días</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img src="../../../assets/img/faces-clipart/pic-4.png" class="rounded-circle z-depth-0 my-auto" alt="avatar image" height="50">
                                    <div class="mb-1">
                                        <h6 class="m-0" style="font-size: 1rem">Brian Ochoa</h6>
                                        <span class="text-muted" style="font-size: .8rem">Bienvenido a SIIE...</span>
                                    </div>

                                    <small class="text-muted">Hace 3 días</small>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <img src="../../../assets/img/faces-clipart/pic-4.png" class="rounded-circle z-depth-0 my-auto" alt="avatar image" height="50">
                                    <div class="mb-1">
                                        <h6 class="m-0" style="font-size: 1rem">Brian Ochoa</h6>
                                        <span class="text-muted" style="font-size: .8rem">Bienvenido a SIIE...</span>
                                    </div>

                                    <small class="text-muted">Hace 3 días</small>
                                </div>
                            </a>
                        </div>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start d-mobile-chat-vermas">
                            <h6 class="text-center" style="font-size:1rem;">Ver más</h6>
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item my-auto dropdown pointer">
                <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="pi pi-globe mt-1">
                        <span class="badge badge-success" style="font-size: .5rem">1</span>
                    </i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" style="min-width:20rem !important;">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="mb-1">
                                    <h6 class="m-0" style="font-size: 1rem">Administración SIIE</h6>
                                    <span class="text-muted" style="font-size: .8rem">Bienvenido a SIIE...</span>
                                </div>
                                <small class="text-muted">Hace 3 días</small>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <h6 class="text-center" style="font-size:1rem;">Ver más</h6>
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item my-auto dropdown pointer">
                <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="pi pi-ellipsis-v mt-1"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item text-muted pointer" style="font-size:.8rem" routerLink="/home"><i
                            class="pi pi-home mr-1" style="font-size: 1rem;"></i>Inicio</a>
                    <a *ngIf="isAdmin" class="dropdown-item text-muted pointer" style="font-size:.7rem" routerLink="/dashboard"><i class="pi pi-th-large mr-2" style="font-size: 1rem;"></i>Panel de
                        control</a>
                    <a class="dropdown-item text-muted pointer" style="font-size:.8rem" routerLink="/profile"><i
                            class="pi pi-user mr-1" style="font-size: 1rem;"></i>Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-muted pointer" style="font-size:.8rem" (click)="logout()"><i
                            class="pi pi-sign-out mr-1" style="font-size: 1rem;"></i>Cerrar sesión</a>
                </div>
            </li>
            <li class="hideOnPhone">
                <div *ngIf="!isAdmin" (click)="toggleMenu()" class="nav-link cursor-p">
                    <i class="pi pi-bars mt-2" style="font-size: 1rem"></i>
                </div>
            </li>
        </ul>
    </div>
</nav>