<!-- Page Content  -->
<div class="wrapper">
    <app-nav-bar-c></app-nav-bar-c>
    <app-side-bar-c></app-side-bar-c>
    <div class="content active">
        <h2 class="p-2 text-center">Máquinas en piso</h2>

        <!--***************Reporte maquinas**************-->
        <div class="mb-5">
            <hr>
            <div class="container-fluid">
                <div class="row m-0">
                    <div class="col-12 col-md-4   d-flex align-items-center generalInformation">
                        <div class="card mb-3 p-4 shadow bg-white rounded ">
                            <div class="row justify-content-center">
                                <div class="col-md-8 p-0">


                                    <div class="card-body p-1">
                                        <h6 class="card-title text-center"><strong>Máquinas en todas las
                                                operaciones</strong></h6>
                                        <h4 class="card-text text-center">Total 42</h4>
                                        <h6 class="card-text text-center">Activas en alguna Operación 28</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2   d-flex align-items-center generalInformation">
                        <div class="card mb-3 p-4 shadow bg-white rounded ">
                            <div class="row justify-content-center">
                                <div class="col-md-8 p-0">

                                    <div class="card-body p-1">
                                        <h6 class="card-title text-center"><strong>Operación R500</strong></h6>
                                        <h4 class="card-text text-center">Total 1</h4>
                                        <h6 class="card-text text-center">Activas en Operación 0</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2   d-flex align-items-center generalInformation">
                        <div class="card mb-3 p-4 shadow bg-white rounded ">
                            <div class="row justify-content-center">
                                <div class="col-md-8 p-0">
                                    <div class="card-body p-1">
                                        <h6 class="card-title text-center"><strong>Operación T500</strong></h6>
                                        <h4 class="card-text text-center">Total 27</h4>
                                        <h6 class="card-text text-center">Activas en Operación 19</h6>
                                        <span class="text-muted" style="font-size: 10px;">Operación T500: Pruebas de larga duración. Desde 6
                                                horas.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2   d-flex align-items-center generalInformation">
                        <div class="card mb-3 p-4 shadow bg-white rounded ">
                            <div class="row justify-content-center">
                                <div class="col-md-8 p-0">
                                    <div class="card-body p-1">
                                        
                                        <h6 class="card-title text-center"><strong>Operación T600</strong></h6>
                                        <h4 class="card-text text-center">Total 13</h4>
                                        <h6 class="card-text text-center">Activas en Operación 9</h6>
                                        <span class="text-muted" style="font-size: 10px;">Operación T600: Pruebas de corta duración. Desde 30
                                                minutos.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-2   d-flex align-items-center generalInformation">
                        <div class="card mb-3 p-4 shadow bg-white rounded ">
                            <div class="row justify-content-center">
                                <div class="col-md-8 p-0">
                                    <div class="card-body p-1">
                                        <h6 class="card-title text-center"><strong>Operación VI10</strong></h6>
                                        <h4 class="card-text text-center">Total 1</h4>
                                        <h6 class="card-text text-center">Activas en Operación 0</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>