<!-- Page Content  -->
<div class="wrapper">
  <app-nav-bar-c></app-nav-bar-c>
  <app-side-bar-c></app-side-bar-c>
  <div class="content active">
    <div *ngIf="!isAlumno">
      <h4 class="mt-4">Página principal</h4>
      <div class="row shadow bg-white rounded"
        style="margin: 0 !important; max-height: 20rem !important; overflow-y: scroll;">
        <div class="card w-100 m-0">
          <div class="card-body">
            <h5 class="card-title">Saludos {{currentUser.nombre}}</h5>
            <p class="card-text">Te invitamos a revisar todas las alertas.</p>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-primary float-right">Ver más</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isAlumno">
      <h4 class="mt-4">Bienvenido Operador</h4>
      <div class="row shadow bg-white rounded"
        style="margin: 0 !important; max-height: 20rem !important; overflow-y: scroll;">
        <div class="card w-100 m-0">
          <div class="card-body">
            <h5 class="card-title">Saludos {{currentUser.nombre}}. Ve a todas las máquinas en piso para ver el tiempo
              transcurrido en el proceso.</h5>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-primary float-right" routerLink="/OrdenesEnPiso">Ir a ver máquinas</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isMaestro">
      <h4 class="mt-4">Bienvenido Gerente</h4>
      <div class="row shadow bg-white rounded"
        style="margin: 0 !important; max-height: 20rem !important; overflow-y: scroll;">
        <div class="card w-100 m-0 ">
          <div class="card-body">
            <h5 class="card-title">Saludos {{currentUser.nombre}}</h5>
            <p class="card-text">Ve a "reporte máquinas" para ver el reporte de máquinas actual en manufactura</p>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-primary float-right" routerLink="/ReporteMaquinas">Ir a reporte máquinas</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isMaestro">
        <h4 class="mt-4">Bienvenido PM</h4>
        <div class="row shadow bg-white rounded"
          style="margin: 0 !important; max-height: 20rem !important; overflow-y: scroll;">
          <div class="card w-100 m-0 ">
            <div class="card-body">
              <h5 class="card-title">Saludos {{currentUser.nombre}}</h5>
              <p class="card-text">Ve a "ordenes disponibles" para ver las ordenes que podrían pasar a manufactura o agregar prioridad.</p>
            </div>
            <div class="card-footer text-muted">
              <button class="btn btn-primary float-right" routerLink="/ReporteMaquinas">Ir a ordenes disponibles</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>