<div class="wrapper">
    <app-nav-bar-c></app-nav-bar-c>
    <app-side-bar-c></app-side-bar-c>
    <div class="content active">
        <h2 class="p-2 text-center">Agenda</h2>
        <hr>
        <p-scrollPanel [style]="{width: '100%', height: '500px'}" styleClass="custom">
            <div class="container no-s">
                <div class="row day-div" *ngFor="let subject of actividadesUsuario">
                    <div class="col-12 text-center title" style="font-size: 1rem">Fecha de entrega: {{subject.fechaEntrega}}</div>
                    <div class="container-fluid">
                        <div class="row task-div" [routerLink]="['/subject', subject.claveClase]">
                            <div class="col-4 text-left border-right p-0" style="font-size: 1rem">
                                {{subject.nombreClase}}</div>
                            <div class="col-8 text-center p-0" style="font-size: 1rem">{{subject.nombreActividad}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>